@using LEO.Common.Codes
@using LEO.Common.Constants.Trainings

@using WGK.Lib.Web.Enumerations
@using WGK.Lib.Web.Mvc.Controls
@using WGK.Lib.Web.Mvc.HtmlHelpers

@model LeoCore.Models.Trainings.TrainingIdentificationViewModel

<table class="layout-table">
    <tr >
        <td class="editor-label">
            @this.Html.LabelFor(pModel => pModel.SearchCriteria.TRAINING_TYPE, "Soort vorming", null)
        </td>

      @*   <td class="editor-field" colspan="3">
            @this.Html.DropDownListFor(
               pModel => pModel.SearchCriteria.TRAINING_TYPE,
               pModel => pModel.UserCodeManager,
               UserCodeGroupCode.cTypeTrainingLijst,
               true, // pAddBlankCode
               null,
               null, // pParentUserCodeID
               null,  //Hide if readOnly
               false, // pIncludeSoftDeleted
                new { style = "width: 300px;" },
               ActivityStatusEnablementEnum.Allways
              )
        </td> *@
    </tr>
    <tr>
        <td class="editor-label">
            @this.Html.LabelFor(pModel => pModel.SearchCriteria.NOMENCLATUUR_YN, "Nomenclatuur")
        </td>
      @*   <td class="editor-field">
            @this.Html.WGKUserCodeDropDownListFor(
               pModel => pModel.SearchCriteria.NOMENCLATUUR_YN,
               pModel => pModel.UserCodeManager,
               UserCodeGroupCode.cJaNeeLijst,
               true, // pAddBlankCode
               null,
               null, // pParentUserCodeID
               null,  //Hide if readOnly
               false, // pIncludeSoftDeleted
               new { style = "width: 100px;" },
               ActivityStatusEnablementEnum.Allways
              )
        </td> *@
        <td class="editor-label">
            @this.Html.LabelFor(pModel => pModel.SearchCriteria.EVIDENCE_BASED, "Evidence based", null)
        </td>

    @*     <td class="editor-field">
            @this.Html.WGKUserCodeDropDownListFor(
               pModel => pModel.SearchCriteria.EVIDENCE_BASED,
               pModel => pModel.UserCodeManager,
               UserCodeGroupCode.cJaNeeLijst,
               true, // pAddBlankCode
               null,
               null, // pParentUserCodeID
               null,  //Hide if readOnly
               false, // pIncludeSoftDeleted
               new { style = "width: 100px;" },
               ActivityStatusEnablementEnum.Allways
              )
        </td> *@
    </tr>
    <tr>
        <td class="editor-label">
            <label for="customRange3" class="form-label">Ingever</label>
        </td>
        @* <td class="editor-field">
            @this.Html.WGKUserCodeDropDownListFor(
              pModel => pModel.SearchCriteria.APPLICANT_CLIENT_ID,
              pModel => pModel.UserCodeManager,
              UserCodeGroupCode.cGebruikersLijst,
              true, // pAddBlankCode
              null,
              null, // pParentUserCodeID
              null,  //Hide if readOnly
              false, // pIncludeSoftDeleted
              new { },
              ActivityStatusEnablementEnum.EditOnly
             )
        </td> *@
        <td class="editor-label">
            @this.Html.LabelFor(pModel => pModel.SearchCriteria.INTERNEXTERN, "Intern of extern", null)
        </td>

      @*   <td class="editor-field" >
            @this.Html.WGKUserCodeDropDownListFor(
               pModel => pModel.SearchCriteria.INTERNEXTERN,
               pModel => pModel.UserCodeManager,
               UserCodeGroupCode.cEXT_INTLijst,
               true, // pAddBlankCode
               null,
               null, // pParentUserCodeID
               null,  //Hide if readOnly
               false, // pIncludeSoftDeleted
               new { style = "width: 100px;" },
               ActivityStatusEnablementEnum.Allways
              )
        </td> *@
    </tr>
    <tr>
        <td class="editor-label">
            @this.Html.LabelFor(pModel => pModel.SearchCriteria.SUBJECT, "Onderwerp (deel van)", null)
        </td>
        <td class="editor-field" colspan="3">
            @Html.TextBoxFor(
                pModel => pModel.SearchCriteria.SUBJECT)

        </td>
  
    </tr>

</table>


