@using WGK.Lib.Security
@using WGK.Lib.Web.Constants
@using WGK.Lib.Web.Enumerations
@using WGK.Lib.Web.Mvc.Helpers
@using WGK.Lib.Web.Mvc.HtmlHelpers
@using LEO.Common.Constants.Trainings
@using LEO.Common.Literals
@using LEO.Common.Codes
@using LEO.Common.Literals
@using LeoCore.Models.Trainings
@using LEO.Common.Codes

@model LeoCore.Models.Trainings.TrainingMaintenanceViewModel

@*Een rij waarin 4 kollommen staan waarin de details van de aanvrager en vorming staat*@
<div class="row align-items-start">
    <div class="col-md-6">
        @this.Html.Label("Ref. ID")
        @this.Html.TextBoxFor(
            pModel => pModel.TRAININGDetail.ID,
            ActivityStatusEnablementEnum.ReadOnly)
    </div>
    <div class="col-md-6">
        @Html.Label("Naam aanvrager")
        @Html.TextBoxFor(
               pModel => pModel.TRAININGDetail.APPLICANT_CLIENTID,
               ActivityStatusEnablementEnum.ReadOnly)
    </div>
    <div class="col-md-6">
        @Html.Label("Functie van de aanvrager")
     @*   <input class="form-control" type="text" placeholder="@Request.GetOwinContext().Authentication.User.Claims.ElementAt(7).Value" aria-label="Disabled input example" disabled>*@
    </div>
    <div class="col-md-6">
        @Html.Label("Afdeling van de aanvrager")
       @* <input class="form-control" type="text" placeholder="@Request.GetOwinContext().Authentication.User.Claims.ElementAt(6).Value" aria-label="Disabled input example" disabled>*@
    </div>
    @*@<div class="col-md-6">
        @Html.WGKLabel("Functie van de aanvrager")
        <input class="form-control" type="text" placeholder="@Session["ClaimRole"].ToString()" aria-label="Disabled input example" disabled>  //$$µµ
</div>
    <div class="col-md-6">
        @Html.WGKLabel("Afdeling van de aanvrager")
        <input class="form-control" type="text" placeholder="@Session["ClaimLocality"].ToString()" aria-label="Disabled input example" disabled> //$$µµ
    </div>*@
    </div>