@using LEO.Common.Codes
@using LEO.Common.Literals
@using LeoCore.Models.Questionnaires
@using WGK.Lib.Web.Enumerations
@using WGK.Lib.Web.Mvc.Controls


@model LeoCore.Models.Questionnaires.QuestionnaireMaintenanceViewModel

<script type="text/javascript">
    $(document).ready(function () {

    });@* END OF $(document).ready function *@

</script>
<link href="@this.Url.Content("~/Content/Rating.css")" rel="stylesheet" type="text/css" />
<script defer src="@this.Url.Content("~/Scripts/Rating.js")" type="text/javascript"></script>
<div >
    <div>
        <table class="layout-table">
            @foreach (var item in Model.Person_QuestionnaireDetail.PERSON_QUESTIONNAIRE_ANSWERs.Select((value, i) => new { i, value }))
            {
                  <tr>
                    <td>
                        @Html.DisplayFor(modelItem =>  modelItem.Person_QuestionnaireDetail.PERSON_QUESTIONNAIRE_ANSWERs[item.i].QTEXT_AS_WAS)
                    </td>
                  
                    <td>
                        @Html.HiddenFor(modelItem => modelItem.Person_QuestionnaireDetail.PERSON_QUESTIONNAIRE_ANSWERs[item.i].ID)
                    </td>
                    <td>
                        @if (item.value.QTYPEANSWER_AS_WAS == "T")
                        {
                            @Html.EditorFor(modelItem => modelItem.Person_QuestionnaireDetail.PERSON_QUESTIONNAIRE_ANSWERs[item.i].ANSWER_TEXT, ActivityStatusEnablementEnum.EditInsert)
                        }
                        else if (item.value.QTYPEANSWER_AS_WAS == "J")
                        {
                            @Html.DropDownListFor(
                                pModel => pModel.Person_QuestionnaireDetail.PERSON_QUESTIONNAIRE_ANSWERs[item.i].ANSWER_TEXT,
                                Model.cJaNeeLijst, "", null
                            )
                        }
                        else if (item.value.QTYPEANSWER_AS_WAS == "K")
                        {
                            @Html.DropDownListFor(
                                pModel => pModel.Person_QuestionnaireDetail.PERSON_QUESTIONNAIRE_ANSWERs[item.i].ANSWER_TEXT,
                                Model.cScore5Lijst, "", null
                            )
                        }
                        else if (item.value.QTYPEANSWER_AS_WAS == "L")
                        {
                            @Html.DropDownListFor(
                                pModel => pModel.Person_QuestionnaireDetail.PERSON_QUESTIONNAIRE_ANSWERs[item.i].ANSWER_TEXT,
                                Model.cScore10Lijst, "", null
                            )
                        }
                        else   //indien geen goede match//ToDo: dit eruit? en een echte foutmelding geven??
                        {
                            @Html.TextBoxFor(modelItem => Model.Person_QuestionnaireDetail.PERSON_QUESTIONNAIRE_ANSWERs[item.i].ANSWER_TEXT, ActivityStatusEnablementEnum.EditInsert)
                        }
                    </td>
                    <td>
                     
                        @Html.HiddenFor(modelItem => Model.Person_QuestionnaireDetail.PERSON_QUESTIONNAIRE_ANSWERs[item.i].PERSON_QUESTIONNAIRE_ID)
                    </td>
                    <td>
                        @Html.HiddenFor(modelItem => Model.Person_QuestionnaireDetail.PERSON_QUESTIONNAIRE_ANSWERs[item.i].PERSON_QUESTIONNAIRE)
                        @Html.HiddenFor(modelItem => Model.Person_QuestionnaireDetail.PERSON_QUESTIONNAIRE_ANSWERs[item.i].ANSWER_NUMBER)
                        @Html.HiddenFor(modelItem => Model.Person_QuestionnaireDetail.PERSON_QUESTIONNAIRE_ANSWERs[item.i].QTEXT_AS_WAS)
                        @Html.HiddenFor(modelItem => Model.Person_QuestionnaireDetail.PERSON_QUESTIONNAIRE_ANSWERs[item.i].QUESTION_ID)
                        @Html.HiddenFor(modelItem => Model.Person_QuestionnaireDetail.PERSON_QUESTIONNAIRE_ANSWERs[item.i].QQORDER_AS_WAS)
                        @Html.HiddenFor(modelItem => Model.Person_QuestionnaireDetail.PERSON_QUESTIONNAIRE_ANSWERs[item.i].QTYPEANSWER_AS_WAS)

                    </td>
            </tr>
            } 
        </table>
    </div>
</div>

