
@using System.Globalization
@using LeoCore.Models.Questionnaires
@using WGK.Lib.Web.Enumerations
@using WGK.Lib.Web.Mvc.HtmlHelpers
@using LEO.Common.Constants.Trainings
@using LEO.Common.Literals
@using LeoCore.Controllers




@model QuestionnaireMaintenanceViewModel

<script type="text/javascript">

    var vIsSubmitting = false;

    $(document).ready(function () {

    @*Form submit buttons*@
            $('#SaveButton').click(function (pEvent) {
                submitForm.call(pEvent.currentTarget); @* Set function context (this) to the button that is clicked *@
                    });

    @* -- Submit form method*@
            function submitForm() {
                var vSource = this;
                submitClosestForm(vSource);  
            }
    }); @* END OF $(document).ready function *@



</script>

@using (this.Html.BeginForm(null, null, new { pID = this.Model.Person_QuestionnaireDetail.ID }, FormMethod.Post ))
{

    @*-- Header panel --*@
    <div class="kaart card">
        <h2>Details</h2>
        @Html.Partial("MaintenanceDetailPartial", this.Model)
    </div>
    <div class="kaart card">
        <div >
            @this.Html.Label(@"Heb jij de vorming gegeven? Ga via onderstaande link naar de lesgever vragenlijst.")
            <a href="@Url.Action("Maintenance", "Questionnaires", new { pID = this.Model.Person_QuestionnaireDetail.TRAINING_ID , pIsLeraar=true })">
                lesgever link
            </a> 
        </div>
        </div>
        @*-- Tab pages --*@
        // Tab panels are not shown in Create and Select modus
        @* We must set the FormID on the accordion widget for when form is rendered in a dialog box *@
        <div class="kaart card">
            <h2>Tevredenheidsvragenlijst @Model.Title</h2> 
            @this.Html.Partial("MaintenanceInhoudPartial")
        </div>
    @*-- Footer buttons--*@
    <div class="kaart card btngrp">
        <div class="buttonsdiv">
            <input type="button"
                   value="save"
                   id="SaveButton" />
        </div>
        @*-- Hidden fields --*@
        @*@Html.HiddenFor(pModel => pModel.TRAININGDetail.RowVersion)
    @Html.HiddenFor(pModel => pModel.ActivityStatus)*@
        @Html.HiddenFor(pModel => pModel.QuestionnaireDetail.ID)
        @*@Html.HiddenFor(pModel => pModel.ActivePanels)*@
 
        @*end form*@
    </div>
}
