@using System.Globalization


@using LEO.Common.Constants
@using LEO.Common.Constants.IBF
@using LeoCore.Controllers
@using LEO.Common.Codes
@using LEO.Common.Literals
@using LeoCore.Models.IBF

@model LeoCore.Models.IBF.IBFIdentificationViewModel
@{
    Random random = new Random();

}


<div id="IBF" style="flex-wrap: nowrap; flex-direction: column; max-width: 80%; ">
    <div>
        <h1>Mijn IBF</h1>
        <p>Hieronder kan je de door jou gevolgde vormingen terugvinden.</p>
        <i onclick="SwitchView" style="display:block;float:right" id="SwitchButton" class="fa-solid fa-shuffle"></i>
    </div>
    <div style="overflow:auto" id="TableView">
        <table class="table table-hover table-responsive">
            <thead class="thead-dark">
                <tr>
                    <th scope="col">Training ID</th>
                    <th scope="col">Onderwerp</th>
                    <th scope="col">Datum gevolgd</th>
                    <th scope="col">Training type</th>
                    <th scope="col">Nomenclatuur</th>
                    <th scope="col">Les Methodiek</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.MijnIBFTrainingen)
                {
                    <tr>
                        <td>@item.TrainingID</td>
                        <td>@item.SUBJECT</td>
                        <td>@item.DATUMTRAINING</td>
                        <td>@item.TRAINING_TYPE</td>
                        <td>@item.NOMENCLATUUR_YN</td>
                        <td>@item.METHODOLOGY</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
    <div style="display:flex;flex-wrap:wrap;justify-content:center" id="CardView">
        @foreach (var item in Model.MijnIBFTrainingen)
        {
            <div id="@item.TrainingID" class="card text-bg-light mb-3 ibfCard">
                <div class="card-header">
                    <h1>@item.SUBJECT</h1>
                </div>
                <img src="https://picsum.photos/200/100?random=@random.Next()">
                <div class="card-body">
                    <p>Vorming gevolgd op @item.DATUMTRAINING</p> <br />
                    <p class="card-text">Training type: @item.TRAINING_TYPE</p><br />
                    @if (item.NOMENCLATUUR_YN.ToLower() == "ja")
                    {
                        <p>Deze training was nomenclatuur.</p><br />
                    }
                    @if (item.METHODOLOGY.ToLower() == "online")
                    {
                        <p>Deze vorming ging online door op volgende link: </p>
                        <a href="@item.LINK">@item.LINK</a>
                    }
                    else
                    {
                        <p>Deze vorming werd @item.METHODOLOGY gegeven.</p>
                    }
                    <p>Vorming met ref. nummer: @item.TrainingID </p>
                </div>
            </div>
        }
    </div>
</div>
<script defer>
    $("#TableView").hide();
    $("#CardView").show();
    var sB = document.getElementById("SwitchButton");
    var tV = document.getElementById("TableView");
    var cV = document.getElementById("CardView");
    document.getElementById('SwitchButton').addEventListener("click", SwitchView);
    function SwitchView() {
        if ($('#TableView').is(':hidden')) {
            $("#TableView").show();
            $("#CardView").hide();

        } else {
            $("#TableView").hide();
            $("#CardView").show();
        }
    }
</script>